<div class="main-container">
    <div class="location-container">
        <div class="card text-bg-primary m-4" style="max-width: 18rem;">
            <div class="card-header text-center">
                <h2 class="fs-4">{{city}}</h2>
                <p><img src="{{iconUrl}}" alt="weather img"></p>
            </div>
            <div class="card-body">
                <p class="card-text">Predpoveď: {{summary}}</p>
                <p class="card-text">Teplota: {{temperature}}°C</p>
                <p class="card-text">Pocitová teplota: {{feels_like}} °C</p>
                <p class="card-text">Tlak: {{pressure}} hPa</p>
                <p class="card-text">Vlhkosť: {{humidity}} %</p>
            </div>
        </div>
    </div>
</div>